# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.0.0=pypi_0
aiohttp=3.8.1=pypi_0
aiosignal=1.2.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
apache-beam=2.39.0=pypi_0
asttokens=2.0.5=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.2=pypi_0
attrs=21.4.0=pypi_0
backcall=0.2.0=pypi_0
ca-certificates=2022.4.26=h06a4308_0
cachetools=5.2.0=pypi_0
certifi=2022.5.18.1=py39h06a4308_0
charset-normalizer=2.0.12=pypi_0
cheroot=8.6.0=pypi_0
cloudpickle=2.1.0=pypi_0
commonmark=0.9.1=pypi_0
crcmod=1.7=pypi_0
cython=0.29.30=pypi_0
datasets=2.2.2=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.4=pypi_0
docopt=0.6.2=pypi_0
executing=0.8.3=pypi_0
fastavro=1.4.12=pypi_0
filelock=3.7.0=pypi_0
flatbuffers=1.12=pypi_0
frozenlist=1.3.0=pypi_0
fsspec=2022.5.0=pypi_0
gast=0.4.0=pypi_0
gitdb=4.0.9=pypi_0
gitpython=3.1.27=pypi_0
google-auth=2.6.6=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
greenlet=1.1.2=pypi_0
grpcio=1.46.3=pypi_0
h5py=3.7.0=pypi_0
hdfs=2.7.0=pypi_0
httplib2=0.19.1=pypi_0
huggingface-hub=0.7.0=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.11.4=pypi_0
ipython=8.4.0=pypi_0
jaraco-functools=3.5.0=pypi_0
jedi=0.18.1=pypi_0
joblib=1.1.0=pypi_0
kaleido=0.2.1=pypi_0
keras=2.9.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libclang=14.0.1=pypi_0
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_0
libgomp=11.2.0=h1234567_0
libstdcxx-ng=11.2.0=h1234567_0
loralib=0.1.1=pypi_0
markdown=3.3.7=pypi_0
matplotlib-inline=0.1.3=pypi_0
more-itertools=8.13.0=pypi_0
multidict=6.0.2=pypi_0
multiprocess=0.70.12.2=pypi_0
ncurses=6.3=h7f8727e_2
numexpr=2.8.3=pypi_0
numpy=1.22.4=pypi_0
oauthlib=3.2.0=pypi_0
omegaconf=2.2.2=pypi_0
opendelta=0.0.4=pypi_0
openssl=1.1.1o=h7f8727e_0
opt-einsum=3.3.0=pypi_0
orjson=3.6.8=pypi_0
packaging=21.3=pypi_0
pandas=1.4.2=pypi_0
parso=0.8.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.1.1=pypi_0
pip=21.2.4=py39h06a4308_0
plotly=5.8.0=pypi_0
plyvel=1.4.0=pypi_0
prompt-toolkit=3.0.29=pypi_0
proto-plus=1.20.5=pypi_0
protobuf=3.19.4=pypi_0
psutil=5.9.1=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=8.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pydot=1.4.2=pypi_0
pygments=2.12.0=pypi_0
pymars=0.9.0=pypi_0
pymongo=3.12.3=pypi_0
pyparsing=2.4.7=pypi_0
python=3.9.12=h12debd9_0
python-dateutil=2.8.2=pypi_0
pytz=2022.1=pypi_0
pyyaml=6.0=pypi_0
readline=8.1.2=h7f8727e_1
regex=2022.4.24=pypi_0
requests=2.27.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
responses=0.18.0=pypi_0
rich=12.4.4=pypi_0
rocksdict=0.2.16=pypi_0
rsa=4.8=pypi_0
s2re=0.0.2=pypi_0
scikit-learn=1.1.1=pypi_0
scipy=1.8.1=pypi_0
sentencepiece=0.1.96=pypi_0
setuptools=61.2.0=py39h06a4308_0
six=1.16.0=pypi_0
sklearn=0.0=pypi_0
smmap=5.0.0=pypi_0
springs=0.0.8=pypi_0
sqlalchemy=1.4.39=pypi_0
sqlite=3.38.3=hc218d9a_0
stack-data=0.2.0=pypi_0
tenacity=8.0.1=pypi_0
tensorboard=2.9.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.9.1=pypi_0
tensorflow-estimator=2.9.0=pypi_0
tensorflow-io-gcs-filesystem=0.26.0=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.11=h1ccaba5_1
tokenizers=0.12.1=pypi_0
torch=1.11.0+cu115=pypi_0
torchaudio=0.11.0+cu115=pypi_0
torchvision=0.12.0+cu115=pypi_0
tornado=6.1=pypi_0
tqdm=4.64.0=pypi_0
traitlets=5.2.2.post1=pypi_0
transformers=4.19.2=pypi_0
typing-extensions=4.2.0=pypi_0
tzdata=2022a=hda174b7_0
unqlite=0.9.3=pypi_0
urllib3=1.26.9=pypi_0
uvloop=0.16.0=pypi_0
wcwidth=0.2.5=pypi_0
web-py=0.62=pypi_0
werkzeug=2.1.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wrapt=1.14.1=pypi_0
xxhash=3.0.0=pypi_0
xz=5.2.5=h7f8727e_1
yarl=1.7.2=pypi_0
zipp=3.8.0=pypi_0
zlib=1.2.12=h7f8727e_2
